body {
	font-family: Arial, sans-serif;
	background: url(https://images.unsplash.com/photo-1489094630404-29764b114228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 38px 0;
}

.container {
	width: 700px;
	margin: auto;
	padding: 20px 50px;
}

/*header*/
header .container {
	background: rgba(0, 51, 102, .9);
}

h1, p {
	color: #fff;
}

/*main*/
main .container {
	background: rgba(255, 255, 255, .8);
}

/*error*/
section.error * {
	color: #f00;
}

/*form*/
input, select, textarea, button {
	width: 100%;
	height: 30px;
	margin: 5px 0 15px 0;
}

form.submitted input:invalid {
	border: 1px solid #f00;
	background: #fef1ec;
}

.short-input {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

form ul {
	list-style: none;
	padding: 0;
}

form ul li {
	margin: 10px 0;
}

input[type=radio] {
	width: 15px;
	height: 15px;
}

textarea {
	min-height: 100px;
	resize: vertical;
}

button {
	height: 40px;
	background: rgb(0, 51, 102);
	color: #fff;
	cursor: pointer;
}

/*responsive*/
@media (max-width: 816px) {
	body {
		margin: 0;
		padding: 0;
	}

	.container {
		width: 73vw;
	}

	.short-input {
		display: inline;
	}
}